body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: 100%;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
}
.first-container {
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 70px;
    max-width: 100%;
}
ul {
    list-style: none;
}
.nav-links {
    display: flex;
    gap: 15px;
    padding-right: 30px;
    color: #e5e7eb;
    font-size: 18px;
}
.header-logo {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header-contents {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 400px;
}
.main-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 7px;
    cursor: pointer;
}
.main-title {
    font-weight: bolder;
    font-size: 48px;
}
.tile-info {
    font-size: 18px;
    color: #e5e7eb;
}
.card {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    background-color: rgba(211, 211, 211, 0.603);
    margin: 30px;
    max-width: 400px;
}
.card-info {
    align-self: center;
}
.second-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 32px;
}
.empty-box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid #3882f6;
}
.second-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 50px;
}
.info, .test {
    text-align: center;
    max-width: 150px;
}
.quote-section {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937
    align-items: center;
    justify-content: center;
}
.quote {
    text-align: justify;
    font-style: italic;
    font-weight: lighter;
    max-width: 600px;
    font-size: x-large;
}
.quote-author {
    display: flex;
    font-weight: bold;
    align-self: flex-end;
}
.quote-info {
    display: flex;
    padding: 100px;
    flex-direction: column;
}
.sign-up-info {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 6px;
}
.sign-up-bar {
    padding: 70px;
}
.call-to-action {
    font-weight: bolder;
    color: solid white;
    font-size: 18px;
}
.second-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid white;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    margin: 3px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 20px;
}